imagen/*.png
imagen/*.jpg
imagen/*.jpeg
imagen/*.gif
imagen/*.bmp
imagen/*.tiff
__pycache__/
# Ignorar el directorio config
config/

# Ignorar archivos y carpetas típicas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Ignorar archivos de configuración del IDE
.vscode/
.idea/
