{% extends 'index.html' %}

{% block title %} {{ super() }} Comentario {% endblock %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="recuadro">
        
       
        <br>

        <div id="comentario" class="patron">
            <form action="{{ url_for('contactanos_view') }}" method="POST" class="form">
                {{ form.hidden_tag() }} <!-- Incluye el campo CSRF -->
                <h2 class="form_title">Envia tu comentario</h2>
                <div class="form_container">
                    <div class="form_group">
                        {{ wtf.form_field(form.name, class="form_input", placeholder=" ", onkeypress="return SoloLetras(event)") }}
                        {{ form.name.label(class="form_label") }}
                    </div>
                </div>
                <br>
                <div class="form_container">
                    <div class="form_group">
                        {{ wtf.form_field(form.email, class="form_input", placeholder=" ", onkeypress="return Correo(event)") }}
                        {{ form.email.label(class="form_label") }}
                    </div>
                </div>
                <br>
                <div class="form_container">
                    <div class="form_group">
                        {{ wtf.form_field(form.subject, class="form_input", placeholder=" ", onkeypress="return SoloLetras(event)") }}
                        {{ form.subject.label(class="form_label") }}
                    </div>
                </div>
                <br>
                <div class="form_container">
                    <div class="form_group">
                        {{ wtf.form_field(form.comments, class="form_input", placeholder=" ", rows="5", cols="25", onkeypress="return clave(event)") }}
                        {{ form.comments.label(class="form_label") }}
                    </div>
                </div>
                <br>
                {{ wtf.form_field(form.enviar, class="boton boton-verc") }}
            </form>
        </div>
        <br>
        <script src="{{ url_for('static', filename='js/doc.js') }}"></script>
    </div>
{% endblock %}
