{% extends 'index.html' %}
<title>{% block title %}
    Pagina inicial
  {% endblock title %}</title>
  {% block content %}
  <div class="recuadro">
    <section class="content seccion">
        <h2 class="fw-300 center-text recuadro-titulo "> Mas sobre Nosotros</h2>
        <div class="posd">
          <div class="iconos">
            <img src="{{ url_for('static', filename='imagenes/descripcion.png') }}" alt="descripcion">
              <h3 class="encabezado ">Breve descripcion del Blog</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iste fugit, mollitia est maxime nobis, incidunt explicabo eos dolor in repudiandae praesentium soluta quae dicta et ea ratione odio. Mollitia!</p>
            </div>
          <div class="iconos">
            <img src="{{ url_for('static', filename='imagenes/equipo.png') }}" alt="equipo">
            <h3 class="encabezado ">Equipo del Blog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut numquam labore aperiam autem ipsa laudantium vero ipsum quos ex, cum repellendus, perferendis aliquam, repellat vel animi nihil delectus perspiciatis.</p>
          </div>
          <div class="iconos">
            <img src="{{ url_for('static', filename='imagenes/proposito.png') }}" alt="proposito">
            <h3 class="encabezado ">Proposito del Blog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut numquam labore aperiam autem ipsa laudantium vero ipsum quos ex, cum repellendus, perferendis aliquam, repellat vel animi nihil delectus perspiciatis.</p>
          </div>
          <div class="iconos">
            <img src="{{ url_for('static', filename='imagenes/historia.png') }}" alt="origen">
            <h3 class="encabezado ">Origen del Blog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut numquam labore aperiam autem ipsa laudantium vero ipsum quos ex, cum repellendus, perferendis aliquam, repellat vel animi nihil delectus perspiciatis.</p>
          </div>
        </div>
    </section>
    <main>
      <h2 class="fw-300 center-text recuadro-titulo"> Atracciones</h2>
      <div class="content-Anunc">
        <div class="anun">
          <img src="{{ url_for('static', filename='imagenes/piedras del tunjo.jpg') }}" alt="imagen atraccion">
            <div class="contenido_anun">
              <h3>Piedras del Tunjo</h3>
                <p>El Parque Arqueológico de Facatativá, también conocido como Piedras del Tunjo, es un conjunto de pictogramas cuyo origen exacto aún se desconoce</p>
                <div class="icono-info" >
                  <ul>
                    <li>
                      <img src="{{ url_for('static', filename='imagenes/precio.png') }}" alt="icono precio" >
                      <p>$10.000</p>
                    </li>
                    <li>
                      <img src="{{ url_for('static', filename='imagenes/ubicacion.png') }}" alt="icono Ubicacion">
                      <p>Calle 5# 12A-10</p>
                    </li>
                    <li>
                      <img src="{{ url_for('static', filename='imagenes/horario.png') }}" alt="icono Horario">
                      <p>8:00am - 4:00pm</p>
                    </li>
                  </ul>
                </div>
              <a href="http://www.colparques.net/FACA" class="boton boton-ver d_display" target="_blank"> ver atraccion</a>
            </div>
        </div>
        <div class="anun">
          <img src="{{ url_for('static', filename='imagenes/KYSQA.jpg') }}" alt="imagen atraccion">
            <div class="contenido_anun">
              <h3> KYQA MHUYSQA</h3>
              <p>El Parque Kyqa Mhuysqa es un espacio temático y centro de eventos inspirado en la cultura colombiana y nuestros antepasados muiscas</p>
              <div class="icono-info" >
                <ul>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/precio.png') }}" alt="icono precio" >
                    <p>$49.000</p>
                  </li>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/ubicacion.png') }}" alt="icono Ubicacion">
                    <p>Los llanitos, Zipalandia, Facatativá</p>
                  </li>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/horario.png') }}" alt="icono Horario">
                    <p>sabados y domingo 10a.m–7p.m</p>
                  </li>
                </ul>
              </div>
              <a href="https://acolap.org.co/kyqa-mhuysqa/" class="boton boton-ver d_display" target="_blank"> ver atraccion</a>
            </div>
        </div>
        <div class="anun">
          <img src="{{ url_for('static', filename='imagenes/parque.jpeg') }}" alt="imagen atraccion">
            <div class="contenido_anun">
              <h3>Parque de los Niños</h3>
              <p> El Parque de los Niños es un escenario recreo deportivo ubicado en la ciudad de Facatativá. Ofrece actividades para toda la familia y cuenta con instalaciones para el entretenimiento y la diversión. </p>
              <div class="icono-info" >
                <ul>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/precio.png') }}" alt="icono precio" >
                    <p>gratis</p>
                  </li>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/ubicacion.png') }}" alt="icono Ubicacion">
                    <p> Carrera 2 #1-102, en Facatativá</p>
                  </li>
                  <li>
                    <img src="{{ url_for('static', filename='imagenes/horario.png') }}" alt="icono Horario">
                    <p>Abierto los jueves, viernes, sábados y domingos, con horarios específicos</p>
                  </li>
                </ul>
              </div>
              <a href="https://www.facatativa-cundinamarca.gov.co/noticias/el-parque-de-los-ninos-un-lugar-para-la-diversion" class="boton boton-ver d_display" target="_blank"> ver atraccion</a>
            </div>
        </div>      
      </div>
      <div class="ver_td">
        <a href="{{ url_for('anuncios') }}" class="boton boton-verc">ver Todas</a>
      </div>  
      <br>
    </main>
    <section class="imagen-contacto">
      <div class="content contactos">
        <h3>Disfruta y aprende</h3>
        <p>si el sitio turistico no esta registrado
          <br>aun, contactanos</p>
          <a href="{{ url_for('contactanos_view') }}" class="boton boton-verc">contactanos</a>
      </div>
    </section>
    <div class="seccion-inferior content">
        <section class="seccion-blog">
          <div class="texto-entrada">
            <a href="{{ url_for('blog') }}">
              <h3>Nuestro Blog</h3>
            </a>
          </div>
          <article class="entrada-blog">
          <div class="imagen-blog">
            <img src="{{ url_for('static', filename='imagenes/casa de la cultura.jpeg') }}" alt="blog">
          </div>
          <div class="texto-entrada">
            <a href="{{ url_for('blog') }}">
              <h4> La Casa de la Cultura </h4>
            </a>
            <p> Escrito en:<span>13/06/2024</span> por:<span> admin</span></p>
            <p> Las escuelas de formación artística que funcionarán aquí 
             <br> abarcan modalidades como escultura, pintura, 
             <br> modelado en 3D, banda sinfónica y fiestera.</p>
          </div>
          </article>
          <article class="entrada-blog">
          <div class="imagen-blog">
            <img src="{{ url_for('static', filename='imagenes/clima.jpg') }}" alt="blog">
          </div>
          <div class="texto-entrada">
            <a href="{{ url_for('blog') }}">
              <h4> El Clima Templado </h4>
            </a>
            <p> Escrito en:<span>13/06/2024</span> por:<span> admin</span></p>
            <p>Facatativá se caracteriza por un clima templado y
              <br> bastante estable a lo largo del año. Las temperaturas 
               <br>suelen oscilar entre los 10°C y los 19°C,</p>
          </div>
          </article>
        </section>
        <section class="seccion-commet">
          <h3>Comentarios de nuestro servicio</h3>
            <div class="testimonio">
              <header>
                <p> Testimonio </p> 
              </header>
                <blockquote class='forma' >*este es un testimonio conmovedor* puedes ser cualquier cosa que quieras; sin embargo, en tu caso deberías apuntar bajo.</blockquote>
              <p> -Elver Gudo</p>
            </div>
        </section>
    </div>
</div>
  {% endblock content %}