{% extends 'bootstrap/base.html' %}

{% block head %}
    <title> 
        {% block title %} Plaform Flask {% endblock %}
        {{ super() }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}
      {{username}}
      {{rol}}
    {% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}