{% extends 'plataform.html' %}
{% block title %}
    Comentario
{% endblock title %}
{% block content %}
<div class="container">
    <div class="card-container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 1</h5>
                <p class="card-text">Contenido de la primera card.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 2</h5>
                <p class="card-text">Contenido de la segunda card.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 3</h5>
                <p class="card-text">Contenido de la tercera card.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card 4</h5>
                <p class="card-text">Contenido de la tercera card.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}